<%- include('../partials/header.ejs')  %>

<form name="createEntry" method="post">
    <div class="class-container">
        <div>
            <label for="date">Date: </label> <input type="date" name="date">
        </div>

        <div>
            <label for="teacher">Teacher: </label> <input type="text" name="teacher" placeholder="Teacher">
        </div>

        <div>
            <label for="content">Content: </label> <input type="text" name="content"
                placeholder="Descreva o que foi dado em aula">
        </div>

    </div>

    <button type="submit">Salvar Aula</button>
</form>
<form action="/" method="get"> <a href="/"><input type="button" value="Home"></a></form>


<%- include('../partials/footer.ejs')  %>