<%- include('../partials/header.ejs')  %>

<form name="createEntry" method="post">
    <div class="class-container">
        <div>
            <label for="date">Date: </label> <input type="date" name="date">
        </div>

        <div>
            <label for="teacher">Teacher: </label> <input type="text" name="teacher" placeholder="Teacher">
        </div>

        <div>
            <label for="content">Content: </label>
            <div>
                <textarea class="content" rows="10" style="resize: none;" type="text" name="content"
                    placeholder="Describe lesson content"></textarea>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save Lesson</button>
</form>

<form class="homeButton" action="/home" method="get"> <a href="/home"><input class="btn btn-primary" type="button"
            value="Home"></a>
</form>


<%- include('../partials/footer.ejs')  %>