<%- include('../partials/header.ejs') %>
<form action="" method="post">
    <label for="username">Email: <input type="email" name="email" id="email"></label>

    <label for="password">Password: <input type="password" name="password" id="password"></label>

    <input type="submit" value="Login">
</form>
<%- include('../partials/footer.ejs')  %>