<%- include('../partials/header.ejs') %>

<form method="post">
    <div>
        <label for="username">Email: <input type="email" name="email" id="email"></label>
    </div>

    <div>
        <label for="password">Password: <input type="password" name="password" id="password"></label>

    </div>

    <input type="submit" value="Register">
</form>
<%- include('../partials/footer.ejs')  %>