<%- include('../partials/header.ejs')  %>
<h1><%= title %></h1>
<%= message %>

<p>You are being redirected, please wait 2 seconds. If you are not redirected, <a href="/">click here</a></p>
<script>
    setTimeout(function () {
        // after 2 seconds
        window.location = "/home";
    }, 3000)
</script>

<%- include('../partials/footer.ejs')  %>